<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SB Get Involved</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Oswald:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Monoton&family=Righteous&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato&family=Monoton&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/style.css">
           
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]--> 

        <!-- .outer-container -->
        <div class="container-fluid outer-container">
            
            <!-- Navigation -->
            <nav class="navbar navbar-expand-lg bg-transparent" >
                <div class="d-flex flex-grow-1"> 
                    <div class="w-100  text-right pr-4">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                   
                    <!-- Navigation Links-->
                    <div class="collapse navbar-collapse flex-grow-1 text-right p-4" id="navbarSupportedContent">
                        <ul class="navbar-nav ">
                            <li class="nav-item mx-3">
                                <a class="nav-link  text-light" href="#">API</a>
                            </li>
                            <li class="nav-item mx-3">
                                <a class="nav-link text-nowrap text-light" href="https://www.sbcity.org/">San Bernardino City</a>
                            </li>
                            <li class="nav-item  mx-3">
                                <a class="nav-link text-nowrap text-light" href="https://www.sbcity.org/City_Hall/Police_Department">San Bernardino Police Dep.</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <!-- Page Heading -->
            <div class="row vh-75 pt-4">
                <div class="col-12 pt-5 mt-5">
                    <h2 class="text-center display-2 heading-txt text-light fw-bold">Get to know San Bernardino. <br>
                    Get to know your neighbors. </h2>
                    <h2 class="text-center display-2 heading-txt fw-bold action-blue">Hold leaders accountable.</h2>
                </div>
            </div>
           
            <!-- About section -->
            <div class="row bg-dark py-5 justify-content-center">
                <div id="about" class="row px-0" >
                    
                    <!-- Goal -->
                    <div class="col-md-8 col-12 pb-5 my-4 justify-content-center d-flex">
                        
                        <div class="v-stack">
                            <div class="container-fluid">
                                <div class="row justify-content-center justify-content-md-end">
                                    <h2 class="text-light m-4 col-12 col-md-9 text-center">The Goal</h2>
                            
                                    <h4 class="fw-lighter m-4 text-light col-md-9 text-center"  >

                                        Public meetings are integral spaces for democracy where any citizen can participate in civic discourse
                                        and hold public figures accountable. But how does the public know when these meetings take place? It's often difficult
                                        to keep track of them and accessing them  online isn't always easy!
                                        <br/>
                                        <br/>
                                        San Bernardino Get-Involved aims to make it easier to find information about public meetings, city events, and police news.
                                        Check down below for the latest info!
                                    </h4>
                                </div>

                            </div>
                            
                        </div>
                    </div>
                
                    <!-- San Bernardino seal-->
                    <div class="col-md-2 offset-md-2 overflow-hidden d-none d-md-inline px-0">
                        <img src="/static/1018px-Seal_of_San_Bernardino,_California.png" style="height: 400px; width: 400px;" class="">
                    </div>
                </div>



                <!-- Meetings div -->

                <div class="col-11 col-md-12 p-4 meetings">
                    <div class="row py-5 my-3">

                        <div class="col-12">
                            <div class="row pb-4 justify-content-center no-gutters">

                                <div class="col-12 col-md-4 my-auto d-flex justify-content-center">
                                    <h1  class="title_1 text-light d-inline-block text-right">Meetings</h1>
                                    <img class="d-none d-md-inline-block text-right mx-2 mt-n2" src="/static/meeting.png" style="height: 65px; width:65px;">

                                </div>
                                
                                <div class="col-12 col-md-5">
                                    <h4 class="info-text text-light py-3 fw-lighter d-inline-block" style="margin-left: 10px; margin-right: auto; text-align: left;">
                                    <span style="font-family: 'sanserif';"> –––––</span> Find upcoming meetings held by city council, the Planning Comiission, 
                                    Development Environmental Review Committee and other government bodies.
                                    
                                    </h4>
                                </div>
                                
                            </div>

                        </div>
                        <div class="col-12">
                            <div id="meetings-content" class="content-block px-2 py-2 mx-2 mb-4 pt-0" >
                                {% for dict_item in upcoming_meetings %}
                                    <div class="ind-content border-1 border p-3 my-4 mx-2 d-inline-block align-top" >
                                        {% set date_list = dict_item['Date'].split('-') %}
                                        
                                        <h2 class="date">{{months[date_list[1]]}} {{ date_list[2] }} </h2>
                                            
                                        <h2 class="golden title">{{ dict_item['Groups'] }}</h2>
                            
                                        <h5 class="item rob"><span class="label">Time: </span>{{ dict_item['Time'] }}</h5>
                                        <h5 class="item rob"><span class="label">Location: </span>{{ dict_item['Location'] }}</h5>
                                        <h5 class="item rob"><span class="label">Type: </span>{{ dict_item['Type'] }}</h5>
                                        <h5 class="item rob"><span class="label">More Info: </span><a style="color: rgb(101, 209, 245);"href={{ dict_item['Info'] }}>Info</a></h5>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

               

                <!-- Events div -->
            
                <div class="col-11 col-md-12 p-4 events">
                    <div class="row py-5 my-3 no-gutters" >
                        
                        <div class="col-12">
                            <div class="row pb-4 justify-content-center">
                                
                                <div class="col-12 col-md-4 my-auto d-flex justify-content-center">
                                    <h1  class="title_1 text-light d-inline-block text-right " >Events</h1>
                                    <img class="d-none d-md-inline-block text-right mx-2 mt-n2" src="/static/event.png" style="height: 50px; width:50px;">

                                </div>            

                                
                                <div class="col-12 col-md-5">
                                    <h4 class="info-text text-light py-3 fw-lighter d-inline-block">
                                    <span style="font-family: 'sanserif';"> –––––</span>  Checkout community events held at Westside Community Center, 
                                    Paul Villasenor Branch Library, and the Feldheym Central Library.</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 mx-0">
                            <div id="events-content" class="content-block px-2 py-2 mx-2 mb-4 pt-0">
                                 {% for dict_item in upcoming_events %}
                                    <div class="ind-content border border-1 p-3 my-4 d-inline-block mx-2 align-top" >
                                        {% set date_list = dict_item['Date'].split('-') %}
                                    
                                        <h2 class="date">{{months[date_list[1]]}} {{ date_list[2] }}</h2> 
                                
                                        <h2 class="golden title">{{ dict_item['Event'] }}</h2>
                                
                                        <h5 class="item rob"><span class="label">Time:   </span>{{ dict_item['Time'] }}</h5>
                                        <h5 class="item rob"><span class="label">Location:   </span>{{ dict_item['Location'] }}</h5>
                                        <h5 class="item rob"><span class="label">Description:   </span>{{ dict_item['Desc'] }}</h5>
                                    </div>
                                {% endfor %}
                                </div>
                        </div>
                    </div>
                </div>




                



                <!-- Police news div -->
                <div class="col-11 col-md-12 p-4 p-news">
                    <div class="row py-5 my-3">

                        <div class="col-12">
                            <div class="row pb-4 justify-content-center">

                                <div class="col-12 col-md-4 my-auto d-flex justify-content-center">
                                    <h1  class="title_1 text-light d-inline-block text-right">Police News</h1>
                                    <img class="d-none d-md-inline-block text-right mx-2 " src="/static/police.png" style="height: 65px; width:65px;">

                                </div>
                                <div class="col-12 col-md-5">
                                    <h4 class="info-text text-light py-3 fw-lighter d-inline-block">
                                    <span style="font-family: 'sanserif';"> –––––</span>  Checkout community events held at Westside Community Center, 
                                    Paul Villasenor Branch Library, Feldheym Central Library.</h4>
                                </div>
                            </div>
                            

                            
                        </div>
                        <div class="col-12">
                            <div id="p-news-content" class="content-block px-2 py-2 mx-2 mb-4 pt-0" >
                                {% for dict_item in police_news %}
                                    <div class="ind-content border border-1 p-3 my-4 mx-2 d-inline-block align-top">
                                        {% set date_list = dict_item['Date'].split('/') %}
                                        
                                        <h2 class="date">{{months[date_list[0]]}} {{ date_list[1] }} </h2>
                                            
                                        <h2 class="golden title">{{ dict_item['Title'] }}</h2>
                            
                                        <h5 class="item rob"><span class="label">Desc: </span>{{ dict_item['Desc'] }}</h5>
                                        <h5 class="item rob"><span class="label">More Info: </span><a style="color: rgb(101, 209, 245);" href={{ dict_item['Read_more'] }}>Info</a></h5>>
                                    </div>
                            
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
            
            <div class="row bg-dark py-3">
                <div class="col-12">
                    <div class="row py-0 my-0">
                        <h1  class="my-4 pl-5 col-5 pt-4 border-2 border-bottom text-light border-light"  style=" font-weight: bolder; letter-spacing: 1.5px; font-family: 'Fira Sans', sans-serif;">Social Media</h1>
                        <div class="col-1 offset-1 ml-4 pt-5 mt-4">
                            <div class="mr-0  pr-0">
                                <div class="" >
                                    <img src="/static/twitter-64.ico" style="height: 25px; margin: 15px;">
                                </div>
                            </div>
                        </div>
                        <div class="col-1  pt-5 mt-4">
                            <div class="mr-0  pr-0">
                                <div class="" >
                                    <img src="/static/facebook-3-64.png" style="height: 25px; margin: 15px;">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-4 text-center py-4">
                            <p class="text-light fs-5 fw-light d-inline px-4">Find your Representative</p>
                            <p class="text-light fs-5 fw-light d-inline px-4">Register to Vote</p>
                            <p class="text-light fs-5 fw-light d-inline px-4">Find your Representative</p>

                        </div>   
                     </div>
                </div>
            </div>
                         <div class="row events">
                            <p class="text-light fw-lighter text-center pt-4 mb-0">Designed and Built by Emmanuel Gil Quiroz</p>
                            <p class="text-light fw-lighter text-center mt-0">2022</p>

                         </div>
                    </div>
                    
                
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

        <script src="" async defer></script>
    </body>
</html>